In [37]:
#import libraries
import pandas as pd
import numpy as np
import os

In [38]:
path = r'C:\Users\rinde\Downloads\Instacart-Basket-Analysis-11-2023\Instacart Basket Analysis 11-2023'

In [39]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [40]:
# 2 Aggregating mean of order_number grouped department_id for entire dataframe

In [41]:
#Checking dataframe
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator
0,33664,2 % Reduced Fat Milk,84,16,99999.0,183964,873,prior,3,0,10,7.0,11,0,both,both
1,33664,2 % Reduced Fat Milk,84,16,99999.0,1851256,873,prior,4,6,12,13.0,8,1,both,both
2,33664,2 % Reduced Fat Milk,84,16,99999.0,1915696,1893,prior,1,5,17,NaN,10,0,both,both
3,33664,2 % Reduced Fat Milk,84,16,99999.0,2763293,1893,prior,2,4,16,13.0,6,1,both,both
4,33664,2 % Reduced Fat Milk,84,16,99999.0,2564805,1893,prior,4,1,17,30.0,3,1,both,both

In [42]:
#perform single aggregation mean of order number by department_id (average number of orders per user department id)
ords_prods_merged.groupby('department_id')['order_number'].mean()

department_id
1     15.457687
2     17.277920
3     17.179756
4     17.811403
5     15.213779
6     16.439806
7     17.225773
8     15.340520
9     15.895474
10    20.197148
11    16.170828
12    15.887622
13    16.583304
14    16.757377
15    16.165037
16    17.663250
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [43]:
#3 Analyze result
# There are 21 department_id's compared to the subset of 100000 there are only 8

In [44]:
#4 Creating flags for loyalty customers

In [45]:
# Creating new column "max_order"
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\rinde\AppData\Local\Temp\ipykernel_1524\4043764972.py:2: FutureWarning: The provided callable <function max at 0x0000013E8402E660> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [46]:
# Checking for new column
ords_prods_merged.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator,max_order
0,33664,2 % Reduced Fat Milk,84,16,99999.0,183964,873,prior,3,0,10,7.0,11,0,both,both,8
1,33664,2 % Reduced Fat Milk,84,16,99999.0,1851256,873,prior,4,6,12,13.0,8,1,both,both,8
2,33664,2 % Reduced Fat Milk,84,16,99999.0,1915696,1893,prior,1,5,17,NaN,10,0,both,both,6
3,33664,2 % Reduced Fat Milk,84,16,99999.0,2763293,1893,prior,2,4,16,13.0,6,1,both,both,6
4,33664,2 % Reduced Fat Milk,84,16,99999.0,2564805,1893,prior,4,1,17,30.0,3,1,both,both,6
5,33664,2 % Reduced Fat Milk,84,16,99999.0,949012,3339,prior,1,1,14,NaN,8,0,both,both,6
6,33664,2 % Reduced Fat Milk,84,16,99999.0,420057,3339,prior,2,0,11,13.0,29,1,both,both,6
7,33664,2 % Reduced Fat Milk,84,16,99999.0,1511997,3339,prior,3,1,18,8.0,14,1,both,both,6
8,33664,2 % Reduced Fat Milk,84,16,99999.0,1153448,3339,prior,4,4,16,10.0,1,1,both,both,6
9,33664,2 % Reduced Fat Milk,84,16,99999.0,2669259,3339,prior,5,4,14,21.0,6,1,both,both,6
10,33664,2 % Reduced Fat Milk,84,16,99999.0,965345,3531,prior,27,2,19,8.0,2,0,both,both,29
11,33664,2 % Reduced Fat Milk,84,16,99999.0,2291230,5034,prior,6,1,17,30.0,3,0,both,both,7
12,33664,2 % Reduced Fat Milk,84,16,99999.0,2324832,5034,prior,7,6,11,30.0,9,1,both,both,7
13,33664,2 % Reduced Fat Milk,84,16,99999.0,323856,6175,prior,37,2,9,6.0,6,0,both,both,95
14,33664,2 % Reduced Fat Milk,84,16,99999.0,842052,6222,prior,10,1,18,17.0,2,0,both,both,22
15,33664,2 % Reduced Fat Milk,84,16,99999.0,2476723,6840,prior,5,6,14,5.0,9,0,both,both,6
16,33664,2 % Reduced Fat Milk,84,16,99999.0,538498,7029,prior,3,6,17,15.0,1,0,both,both,3
17,33664,2 % Reduced Fat Milk,84,16,99999.0,17778,7608,prior,2,2,8,1.0,9,0,both,both,47
18,33664,2 % Reduced Fat Milk,84,16,99999.0,1095121,8388,prior,3,2,18,1.0,6,0,both,both,47
19,33664,2 % Reduced Fat Milk,84,16,99999.0,2453702,8388,prior,6,2,15,4.0,4,1,both,both,47

In [47]:
# Assign loyalty flag
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [48]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [49]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [50]:
# Check loyalty flags
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [51]:
# Check Loyalty flag in dataframe
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(20)

    user_id      loyalty_flag  order_number
0       873      New customer             3
1       873      New customer             4
2      1893      New customer             1
3      1893      New customer             2
4      1893      New customer             4
5      3339      New customer             1
6      3339      New customer             2
7      3339      New customer             3
8      3339      New customer             4
9      3339      New customer             5
10     3531  Regular customer            27
11     5034      New customer             6
12     5034      New customer             7
13     6175    Loyal customer            37
14     6222  Regular customer            10
15     6840      New customer             5
16     7029      New customer             3
17     7608    Loyal customer             2
18     8388    Loyal customer             3
19     8388    Loyal customer             6

In [52]:
#5 Customers spending habits comparison

In [53]:
# the min max and mean of each loyalty flag
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer     8.584777  1.0  99999.0
New customer      11.038177  1.0  99999.0
Regular customer  10.402056  1.0  99999.0

In [54]:
# loyal customers spend the least, new customers spend the most, and regular cusotmers fall in between. This is seen by observing the mean.

In [55]:
#6 Creating Flag on price mean of Spender

In [56]:
# Creating column for average spender
ords_prods_merged['average_spend'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\rinde\AppData\Local\Temp\ipykernel_1524\2779719400.py:2: FutureWarning: The provided callable <function mean at 0x0000013E8402F060> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merged['average_spend'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [57]:
# Checking the new column
ords_prods_merged.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator,max_order,loyalty_flag,average_spend
0,33664,2 % Reduced Fat Milk,84,16,99999.0,183964,873,prior,3,0,10,7.0,11,0,both,both,8,New customer,1512.123308
1,33664,2 % Reduced Fat Milk,84,16,99999.0,1851256,873,prior,4,6,12,13.0,8,1,both,both,8,New customer,1512.123308
2,33664,2 % Reduced Fat Milk,84,16,99999.0,1915696,1893,prior,1,5,17,NaN,10,0,both,both,6,New customer,4924.385246
3,33664,2 % Reduced Fat Milk,84,16,99999.0,2763293,1893,prior,2,4,16,13.0,6,1,both,both,6,New customer,4924.385246
4,33664,2 % Reduced Fat Milk,84,16,99999.0,2564805,1893,prior,4,1,17,30.0,3,1,both,both,6,New customer,4924.385246
5,33664,2 % Reduced Fat Milk,84,16,99999.0,949012,3339,prior,1,1,14,NaN,8,0,both,both,6,New customer,3074.904908
6,33664,2 % Reduced Fat Milk,84,16,99999.0,420057,3339,prior,2,0,11,13.0,29,1,both,both,6,New customer,3074.904908
7,33664,2 % Reduced Fat Milk,84,16,99999.0,1511997,3339,prior,3,1,18,8.0,14,1,both,both,6,New customer,3074.904908
8,33664,2 % Reduced Fat Milk,84,16,99999.0,1153448,3339,prior,4,4,16,10.0,1,1,both,both,6,New customer,3074.904908
9,33664,2 % Reduced Fat Milk,84,16,99999.0,2669259,3339,prior,5,4,14,21.0,6,1,both,both,6,New customer,3074.904908
10,33664,2 % Reduced Fat Milk,84,16,99999.0,965345,3531,prior,27,2,19,8.0,2,0,both,both,29,Regular customer,267.469870
11,33664,2 % Reduced Fat Milk,84,16,99999.0,2291230,5034,prior,6,1,17,30.0,3,0,both,both,7,New customer,1894.646226
12,33664,2 % Reduced Fat Milk,84,16,99999.0,2324832,5034,prior,7,6,11,30.0,9,1,both,both,7,New customer,1894.646226
13,33664,2 % Reduced Fat Milk,84,16,99999.0,323856,6175,prior,37,2,9,6.0,6,0,both,both,95,Loyal customer,137.893099
14,33664,2 % Reduced Fat Milk,84,16,99999.0,842052,6222,prior,10,1,18,17.0,2,0,both,both,22,Regular customer,408.456000
15,33664,2 % Reduced Fat Milk,84,16,99999.0,2476723,6840,prior,5,6,14,5.0,9,0,both,both,6,New customer,1500.217910
16,33664,2 % Reduced Fat Milk,84,16,99999.0,538498,7029,prior,3,6,17,15.0,1,0,both,both,3,New customer,25005.425000
17,33664,2 % Reduced Fat Milk,84,16,99999.0,17778,7608,prior,2,2,8,1.0,9,0,both,both,47,Loyal customer,278.381572
18,33664,2 % Reduced Fat Milk,84,16,99999.0,1095121,8388,prior,3,2,18,1.0,6,0,both,both,47,Loyal customer,719.090391
19,33664,2 % Reduced Fat Milk,84,16,99999.0,2453702,8388,prior,6,2,15,4.0,4,1,both,both,47,Loyal customer,719.090391

In [58]:
# Creating flag for low and high spender
ords_prods_merged.loc[ords_prods_merged['average_spend']<10,'spender_flag']='Low_spender'

In [59]:
ords_prods_merged.loc[ords_prods_merged['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [60]:
# Check spender flags
ords_prods_merged['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     32254104
High_spender      180108
Name: count, dtype: int64

In [61]:
ords_prods_merged[['user_id', 'average_spend', 'spender_flag', 'prices']].head(60)

    user_id  average_spend  spender_flag   prices
0       873    1512.123308  High_spender  99999.0
1       873    1512.123308  High_spender  99999.0
2      1893    4924.385246  High_spender  99999.0
3      1893    4924.385246  High_spender  99999.0
4      1893    4924.385246  High_spender  99999.0
5      3339    3074.904908  High_spender  99999.0
6      3339    3074.904908  High_spender  99999.0
7      3339    3074.904908  High_spender  99999.0
8      3339    3074.904908  High_spender  99999.0
9      3339    3074.904908  High_spender  99999.0
10     3531     267.469870  High_spender  99999.0
11     5034    1894.646226  High_spender  99999.0
12     5034    1894.646226  High_spender  99999.0
13     6175     137.893099  High_spender  99999.0
14     6222     408.456000  High_spender  99999.0
15     6840    1500.217910  High_spender  99999.0
16     7029   25005.425000  High_spender  99999.0
17     7608     278.381572  High_spender  99999.0
18     8388     719.090391  High_spender  99999.0
19     8388     719.090391  High_spender  99999.0
20     8400    2496.148259  High_spender  99999.0
21     8400    2496.148259  High_spender  99999.0
22     8400    2496.148259  High_spender  99999.0
23     8400    2496.148259  High_spender  99999.0
24     8400    2496.148259  High_spender  99999.0
25     8894     251.572019  High_spender  99999.0
26     8942    3577.762500  High_spender  99999.0
27     8942    3577.762500  High_spender  99999.0
28     9850    1039.656701  High_spender  99999.0
29    10182    2387.990476  High_spender  99999.0
30    10607     189.744022  High_spender  99999.0
31    11487    8703.400000  High_spender  99999.0
32    11487    8703.400000  High_spender  99999.0
33    11969    2823.981690  High_spender  99999.0
34    11969    2823.981690  High_spender  99999.0
35    12536     859.055745  High_spender  99999.0
36    12536     859.055745  High_spender  99999.0
37    13773    1021.338514  High_spender  99999.0
38    13773    1021.338514  High_spender  99999.0
39    13773    1021.338514  High_spender  99999.0
40    14872     983.341220  High_spender  99999.0
41    14872     983.341220  High_spender  99999.0
42    14872     983.341220  High_spender  99999.0
43    14872     983.341220  High_spender  99999.0
44    16840    1732.034483  High_spender  99999.0
45    17189     357.153147  High_spender  99999.0
46    17794     892.977876  High_spender  99999.0
47    18529     419.021399  High_spender  99999.0
48    18740    3427.154701  High_spender  99999.0
49    18740    3427.154701  High_spender  99999.0
50    18740    3427.154701  High_spender  99999.0
51    18740    3427.154701  High_spender  99999.0
52    21779     499.725616  High_spender  99999.0
53    23688     855.907627  High_spender  99999.0
54    25696     717.027660  High_spender  99999.0
55    26152     513.233838  High_spender  99999.0
56    26194     788.561719  High_spender  99999.0
57    27542    6389.512766  High_spender  99999.0
58    27542    6389.512766  High_spender  99999.0
59    27542    6389.512766  High_spender  99999.0

In [62]:
#7 Create a flag for frequent users

In [63]:
# Create a column for frequet users
ords_prods_merged['Customer_frequency'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\rinde\AppData\Local\Temp\ipykernel_1524\3830516860.py:2: FutureWarning: The provided callable <function median at 0x0000013E84101DA0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merged['Customer_frequency'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [64]:
# Cheaking for new column
ords_prods_merged.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator,max_order,loyalty_flag,average_spend,spender_flag,Customer_frequency
0,33664,2 % Reduced Fat Milk,84,16,99999.0,183964,873,prior,3,0,...,7.0,11,0,both,both,8,New customer,1512.123308,High_spender,10.0
1,33664,2 % Reduced Fat Milk,84,16,99999.0,1851256,873,prior,4,6,...,13.0,8,1,both,both,8,New customer,1512.123308,High_spender,10.0
2,33664,2 % Reduced Fat Milk,84,16,99999.0,1915696,1893,prior,1,5,...,NaN,10,0,both,both,6,New customer,4924.385246,High_spender,13.0
3,33664,2 % Reduced Fat Milk,84,16,99999.0,2763293,1893,prior,2,4,...,13.0,6,1,both,both,6,New customer,4924.385246,High_spender,13.0
4,33664,2 % Reduced Fat Milk,84,16,99999.0,2564805,1893,prior,4,1,...,30.0,3,1,both,both,6,New customer,4924.385246,High_spender,13.0
5,33664,2 % Reduced Fat Milk,84,16,99999.0,949012,3339,prior,1,1,...,NaN,8,0,both,both,6,New customer,3074.904908,High_spender,12.0
6,33664,2 % Reduced Fat Milk,84,16,99999.0,420057,3339,prior,2,0,...,13.0,29,1,both,both,6,New customer,3074.904908,High_spender,12.0
7,33664,2 % Reduced Fat Milk,84,16,99999.0,1511997,3339,prior,3,1,...,8.0,14,1,both,both,6,New customer,3074.904908,High_spender,12.0
8,33664,2 % Reduced Fat Milk,84,16,99999.0,1153448,3339,prior,4,4,...,10.0,1,1,both,both,6,New customer,3074.904908,High_spender,12.0
9,33664,2 % Reduced Fat Milk,84,16,99999.0,2669259,3339,prior,5,4,...,21.0,6,1,both,both,6,New customer,3074.904908,High_spender,12.0
10,33664,2 % Reduced Fat Milk,84,16,99999.0,965345,3531,prior,27,2,...,8.0,2,0,both,both,29,Regular customer,267.469870,High_spender,8.0
11,33664,2 % Reduced Fat Milk,84,16,99999.0,2291230,5034,prior,6,1,...,30.0,3,0,both,both,7,New customer,1894.646226,High_spender,19.0
12,33664,2 % Reduced Fat Milk,84,16,99999.0,2324832,5034,prior,7,6,...,30.0,9,1,both,both,7,New customer,1894.646226,High_spender,19.0
13,33664,2 % Reduced Fat Milk,84,16,99999.0,323856,6175,prior,37,2,...,6.0,6,0,both,both,95,Loyal customer,137.893099,High_spender,3.0
14,33664,2 % Reduced Fat Milk,84,16,99999.0,842052,6222,prior,10,1,...,17.0,2,0,both,both,22,Regular customer,408.456000,High_spender,12.0
15,33664,2 % Reduced Fat Milk,84,16,99999.0,2476723,6840,prior,5,6,...,5.0,9,0,both,both,6,New customer,1500.217910,High_spender,9.0
16,33664,2 % Reduced Fat Milk,84,16,99999.0,538498,7029,prior,3,6,...,15.0,1,0,both,both,3,New customer,25005.425000,High_spender,15.0
17,33664,2 % Reduced Fat Milk,84,16,99999.0,17778,7608,prior,2,2,...,1.0,9,0,both,both,47,Loyal customer,278.381572,High_spender,2.0
18,33664,2 % Reduced Fat Milk,84,16,99999.0,1095121,8388,prior,3,2,...,1.0,6,0,both,both,47,Loyal customer,719.090391,High_spender,4.0
19,33664,2 % Reduced Fat Milk,84,16,99999.0,2453702,8388,prior,6,2,...,4.0,4,1,both,both,47,Loyal customer,719.090391,High_spender,4.0

In [65]:
# Creating flag on order frequency
ords_prods_merged.loc[ords_prods_merged['Customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

In [66]:
ords_prods_merged.loc[(ords_prods_merged['Customer_frequency']>10) & (ords_prods_merged['Customer_frequency']<=20),
                     'frequency_flag'] = 'Regular customer'

In [67]:
ords_prods_merged.loc[ords_prods_merged['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [68]:
# Check frequency flags
ords_prods_merged['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent Customer        21577409
Regular customer          7217134
Non_frequent_customer     3639669
Name: count, dtype: int64

In [69]:
#Checking for columns
ords_prods_merged[['user_id', 'Customer_frequency', 'frequency_flag']].head(60)

    user_id  Customer_frequency         frequency_flag
0       873                10.0      Frequent Customer
1       873                10.0      Frequent Customer
2      1893                13.0       Regular customer
3      1893                13.0       Regular customer
4      1893                13.0       Regular customer
5      3339                12.0       Regular customer
6      3339                12.0       Regular customer
7      3339                12.0       Regular customer
8      3339                12.0       Regular customer
9      3339                12.0       Regular customer
10     3531                 8.0      Frequent Customer
11     5034                19.0       Regular customer
12     5034                19.0       Regular customer
13     6175                 3.0      Frequent Customer
14     6222                12.0       Regular customer
15     6840                 9.0      Frequent Customer
16     7029                15.0       Regular customer
17     7608                 2.0      Frequent Customer
18     8388                 4.0      Frequent Customer
19     8388                 4.0      Frequent Customer
20     8400                 9.0      Frequent Customer
21     8400                 9.0      Frequent Customer
22     8400                 9.0      Frequent Customer
23     8400                 9.0      Frequent Customer
24     8400                 9.0      Frequent Customer
25     8894                 5.0      Frequent Customer
26     8942                30.0  Non_frequent_customer
27     8942                30.0  Non_frequent_customer
28     9850                16.0       Regular customer
29    10182                 2.0      Frequent Customer
30    10607                 6.0      Frequent Customer
31    11487                 8.0      Frequent Customer
32    11487                 8.0      Frequent Customer
33    11969                 7.0      Frequent Customer
34    11969                 7.0      Frequent Customer
35    12536                25.0  Non_frequent_customer
36    12536                25.0  Non_frequent_customer
37    13773                 7.0      Frequent Customer
38    13773                 7.0      Frequent Customer
39    13773                 7.0      Frequent Customer
40    14872                10.0      Frequent Customer
41    14872                10.0      Frequent Customer
42    14872                10.0      Frequent Customer
43    14872                10.0      Frequent Customer
44    16840                11.0       Regular customer
45    17189                 7.0      Frequent Customer
46    17794                14.0       Regular customer
47    18529                 7.0      Frequent Customer
48    18740                15.0       Regular customer
49    18740                15.0       Regular customer
50    18740                15.0       Regular customer
51    18740                15.0       Regular customer
52    21779                 5.5      Frequent Customer
53    23688                12.0       Regular customer
54    25696                 6.0      Frequent Customer
55    26152                30.0  Non_frequent_customer
56    26194                 8.0      Frequent Customer
57    27542                 9.0      Frequent Customer
58    27542                 9.0      Frequent Customer
59    27542                 9.0      Frequent Customer

In [70]:
# Export data as pkl

In [71]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))